
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mono Project</h1>
    <p class="lead">Employment project.</p>
    <p><a href="http://www.mono.hr/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vehicle Makes</h2>
        <p>
            Shows the Vehicle Make View with CRUD operations, Sorting, Paging and Filtering.
        </p>
        <p><a class="btn btn-default" href="/VehicleMakes">Vehicle Makes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vehicle Models</h2>
        <p>Shows the Vehicle Model View with assigned Vehicle Make, CRUD operations, Sorting, Paging and Filtering.</p>
        <p><a class="btn btn-default" href="/VehicleModels">Vehicle Models &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Automapper</h2>
        <p>Shows a basic Vehicle Make View using Automapper. Automapper is used only to show use and is not used in the actual project.</p>
        <p><a class="btn btn-default" href="/MakeVM">Automapper VM &raquo;</a></p>
    </div>
</div>