<button class="btn btn-primary" routerLink='/Make/New'>Create</button>
<form id="filterForm">
  <input type="text" placeholder="Search" name="Filter" [(ngModel)]="this.Filter" (onsubmit)="filter(this.Filter)">
  Show <select name="sizeSelect" [(ngModel)]="this.pageSize" (onsubmit)="changeSize(this.pageSize)">
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
  </select> items at a time.
</form>
<button type="submit" form="filterForm" class="btn btn-primary" value="Submit">Submit</button>
<table class="table table-hover">
  <thead>
    <tr>
      <td><b>Name</b></td>
      <td><b>Abrv</b></td>
      <td colspan="2"><b>Actions</b></td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let make of makes" >
      <td>{{make.Name}}</td>
      <td>{{make.Abrv}}</td>
      <td><a [routerLink]="['/Make/Edit', make.Id]" class="btn btn-primary">Edit</a></td>
      <td><button (click)="deleteMake(make.Id)" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>

<pre>Current page: {{Page}}</pre>

<ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="Page" (pageChange)="pageChange(this.Page)"></ngb-pagination>
