<button class="btn btn-primary" routerLink="/Make/New">Create</button>
<table class="table table-hover">
    <thead>
      <tr>
        <td>Name</td>
        <td>Abrv</td>
        <td colspan="2">Actions</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let make of makes">
        <td>{{make.Name}}</td>
        <td>{{make.Abrv}}</td>
        <td><a [routerLink]="['/Edit', make.Id]" class="btn btn-primary">Edit</a></td>
        <td><button (click)="deleteMake(make.Id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
