<div class="panel panel-primary">
    <div class="panel-heading">
      Create Make
    </div>
    <div class="panel-body">
      <form [formGroup]="makeForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="name" #name />
        </div>
        <div *ngIf="makeForm.controls['name'].invalid && (makeForm.controls['name'].dirty || makeForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="makeForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Abrv</label>
          <input type="text" class="form-control" formControlName="abrv" #abrv/>
        </div>
        <div *ngIf="makeForm.controls['abrv'].invalid && (makeForm.controls['abrv'].dirty || makeForm.controls['abrv'].touched)" class="alert alert-danger">
          <div *ngIf="makeForm.controls['abrv'].errors.required">
            Price is required.
          </div>
        </div>
          <div class="form-group">
            <button (click)="addMake(name.value, abrv.value)" [disabled]="makeForm.pristine || makeForm.invalid" class="btn btn-primary">Add</button>
          </div>
      </form>
    </div>
  </div>
